body {
      background: #0f0e17
  }
  header .container {
    /* insère ton style ici */
  }
  
  header .container img {
      width: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  nav {
    /* insère ton style ici */
  }
  
  nav ul {
      text-align: center;
  }
  
  nav li {
      display: inline;
  
  }
  
  nav li a {
      color: #fffffe;
  }
  
  section {
      background-color: #fffffe;
      width: 790px;
      margin: 0 auto;
    /* insère ton style ici */
  }
  
  h2 {
      color: #ff8906; 
      text-align: center;
  }
  
  p {
      text-align: center;
      color: blue
  }
  
  footer {
      text-align: center;
      color: #fffffe;
      background-color: #e53170;
    }

  .ordi {
      display: block;
      margin-right: auto;
      margin-left: auto;
  }


  