body {
    background-color: #0f0e17;
}
header .container img {height:100px; width:100px;}
header .container {text-align: center;}
nav ul {list-style-type:none;display:inline-block;}
nav li {margin-left:20px;
    float:left;}
nav li a {text-decoration:none;color:white;text-transform:uppercase;}
section {background-color: white;max-width: 790px;display:block;margin:auto;text-align:center;}
h2 {color:#ff8906;}
footer {background-color:  #e53170;
        text-align:center;
        max-width: 790px;
        margin:auto;
        margin-top:100px;}
section img {height:200;width:400;}