body{
    /* insère ton style ici */
    background-color:  #0f0e17;
    color: #fffffe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: initial;
  }

  /* HEADER */

  /*
  header .container{
     insère ton style ici 
  }
  */
  /* Le masquage accessible
Masquer un élément de manière accessible permet de faire disparaître un élément à l’écran, tout en le conservant pour les utilisateurs de lecteurs d’écran. 

Techniquement, la solution consiste à appliquer une classe CSS sur l’élément qui ne doit pas être visible.

Il existe plusieurs solutions pour réaliser ce type de classe CSS :

Donner une taille nulle à l’élément.
Positionner l’élément en dehors de l’écran (left: -1000px; top: -1000px;).
Utiliser les propriétés text-indent ou clip. */
  .logo-description{
     position: absolute;
     left: -1000px;
     top: -1000px;
     width:0rem;
  }

  header .container img{
    /* insère ton style ici */
    display: block;
    width: 100px;
    margin: 0 auto;  
  }
 
  header .container img:hover{
    transform: rotate(359deg);
    transition: transform 530ms ease-in-out;
  }
  
    /* MENU */
  nav{
    /* insère ton style ici */
    background-color: inherit;
    color: inherit;
  }
  
  nav ul {
    /* insère ton style ici */
    text-align: center;
  }
  
  nav li {
    /* insère ton style ici */
    display: inline-block;
  }
  
  nav li a {
    /* insère ton style ici */
    text-transform : uppercase;
    padding: 15px;
    text-decoration: none;
    color: inherit;
  }

  /* MAIN */
  
  section{
    /* insère ton style ici */
    background-color:  #fffffe;
    max-width: 790px;
    margin: 0 auto;
    text-align: center;
  }
  section:last-of-type{
      margin-bottom:90px;
      padding-bottom: 15px;
  }
  
  h2{
    /* insère ton style ici */
    color: #ff8906;
    text-transform: uppercase;
    padding-top: 10px;
  }
  
  p{
    /* insère ton style ici */
    background-color: inherit;
    color: #0f0e17;
  }
  
  footer{
    /* insère ton style ici */
    background-color: #e53170;
    color: #F8F9FA;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
  }
  
  
  